.header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    background: #409eff;
    color: #fff;
    .username{
        font-size: 14px;
        color: #f9c700;
    }
    .header-title h2{
        color: #fff;
        margin-left: 110px;
    }
    .header-detail{
        display: flex;
        margin-right: 110px;
        .login{
            color: #ff0000;
        }
    }
}
.user-detail{
    margin-right: 20px;
}
.b-map{
    margin: 0 auto;
    width: 85%;
    height: 500px;
}
.detail-info{
    color: #898989;
    border-bottom: 1px solid #d7d7d7;
    width: 80%;
    margin: 40px auto 0;
    padding-bottom: 40px;
    .item-title{
        margin-bottom: 40px;
        font-size: 20px;
    }
    ul{
        margin-left: 100px;
        margin-bottom: 1em;
        li{
            margin-bottom: 30px;
            list-style: none;
            .info-left{
                margin-right: 20px;
            }
            .info-right{
                color: #333;
            }
        }
    }
}
.space-content{
    height: 30px;
}